<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>

<body class="bg-gray-200">
    <div class="full-height">
        <header class="h-10 md:h-16 mb-4 flex justify-between md:mx-8 bg-gray-600">
            <span class="">
                <img src="./img/new-ydi-logo.png" class="w-10 md:w-16" alt="">

            </span>
            <div id="header-cont">
                <h2 class=" text-xl  md:text-4xl pr-2 ">MCQ </h2>

            </div>
        </header>
        <main class="h-full  lg:grid grid-cols-3 col-span-4 md:mx-8 bg-gray-400 text-center mb-4">
            <section id="story" class="col-span-2 ">
                <h3 class="text-2xl md:text-4xl my-4 lg:pt-16 text-black opacity-75 ">Multi-Choice Questions</h3>
                <p class="text-md md:text-xl lg:pl-4 text-center opacity-75  ">
                    Are You Eligible For The Grant,<br />
                    Find Out in About 20 seconds
                </p>
                <div class="justify-start list-none text-lg">
                    <span>
                        <h2 class="text-xl pt-10 pb-4 text-left mx-10 lg:mx-20"> Instructions:</h2>
                    </span>
                    <li class="decrease list-none text-left lg:pl-20 md:px-20 px-2 "> (1) You have 10 questions to
                        answer
                        in
                        100
                        seconds.
                    </li>
                    <li class="decrease text-left lg:pl-20 md:px-20 px-2">(2) Wrong answers will be penalized; when
                        in doubt
                        leave
                        it
                        blank.</li>
                    <li class="decrease text-left lg:pl-20 md:px-20 px-2">(3) Once you click on the Next button, you
                        can't go
                        back.
                    </li>
                    <li class="decrease text-left lg:pl-20 md:px-20 px-2">(4) Click the button to go to the story.

                    </li>
                    <li class="text-left lg:pl-20 md:px-20 px-2"> (5) If time runs out, it automatically submit </ii>

            </section>
            <section id="qArea" class="lg:pt-32 pt-10 col-span-1 mx-4 ">
                <!-- <div id="qArea" class="mx-4 ">

                    </div> -->
            </section>


</body>



</section>
</main>
</div>

<script src="./app.js"></script>
</body>

</html>